body {
  background: url('https://civictheatre.ca/wp-content/uploads/2017/12/star-wars-franchise-revenue-statistics.jpg') no-repeat center center;
  background-size: cover;
  color: red;
  text-shadow: black;
}